In [7]:
pip install splinter

Requirement already satisfied: splinter in c:\users\mahee\anaconda3\lib\site-packages (0.18.1)
Note: you may need to restart the kernel to use updated packages.

In [10]:
# Dependencies
from bs4 import BeautifulSoup
import requests
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [3]:
pip3 install splinter

SyntaxError: invalid syntax (2293054166.py, line 1)

In [11]:

import time

In [48]:
# #retrieve the page using the requests command
# response = requests.get(url)

In [12]:
# Setup splinter

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

TypeError: 'NoneType' object is not callable

In [13]:
# URL of page to be scraped
url = 'https://redplanetscience.com'
browser.visit(url) # browser opens the url or visits the url in the opened temp google window

AttributeError: module 'splinter.browser' has no attribute 'visit'

In [ ]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
print(soup)

In [ ]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

quotes = soup.find_all('div', class_='list_text')


title = quote.find('div', class_='content_title').get_text()
#print(title)
news_title = title

paragraph = quote.find('div', class_ ='article_teaser_body').get_text()
news_p = paragraph

# print(paragraph)
# print('-------------------------------')

news_title = "NASA's Perseverance Rover Goes Through Trials by Fire, Ice, Light and Sound"
news_p = "The agency's new Mars rover is put through a series of tests in vacuum chambers, acoustic chambers and more to get ready for the Red Planet."

## JPL Mars Space Images—Featured Image

* Visit the URL for the Featured Space Image site "https://spaceimages-mars.com/"

* Use Splinter to navigate the site and find the image URL for the current Featured Mars Image, then assign the URL string to a variable called featured_image_url.

* Be sure to find the image URL to the full-sized .jpg image.

* Be sure to save a complete URL string for this image.

In [10]:
# URL of page to be scraped
url = "https://spaceimages-mars.com/"
browser.visit(url) # browser opens the url or visits the url in the opened temp google window

NameError: name 'browser' is not defined

In [ ]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
print(soup)

In [ ]:
DustySpaceCloud = soup.find('div', class_='floating_text_area')

link = DustySpaceCloud.a["href"]

#print(f"https://spaceimages-mars.com/{link}")

featured_image_url = f"{url + DustySpaceCloud.a['href']}"
featured_image_url

featured_image_url = "https://spaceimages-mars.com/image/featured/mars3.jpg"

### Mars Facts

* Visit the [Mars Facts webpage](https://galaxyfacts-mars.com) and use Pandas to scrape the table containing facts about the planet including diameter, mass, etc.

* Use Pandas to convert the data to a HTML table string.

In [3]:
url = 'https://galaxyfacts-mars.com/'

In [4]:
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [5]:
type(tables)

list

In [6]:
df = tables[0]
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [7]:
df.columns = ['Description','Mars','Earth']
df

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [8]:
df.set_index('Description',inplace=True)
df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [9]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Hemispheres

* Visit the [astrogeology site](https://marshemispheres.com/) to obtain high-resolution images for each hemisphere of Mars.

* You will need to click each of the links to the hemispheres in order to find the image URL to the full-resolution image.

* Save the image URL string for the full resolution hemisphere image and the hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys `img_url` and `title`.

* Append the dictionary with the image URL string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

In [ ]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False) # points to the goole chrom installation, uses temporary googlechrome window

In [ ]:
url = 'https://marshemispheres.com/'
browser.visit(url)

In [ ]:
# Create a list to hold the images and titles
hemisphere_ImageURLS = []


# Getting a list of all of the hemispheres
Marslinks = browser.find_by_css('a.product-item img')

# need to loop through the links , click the hemisphere link, find the sample anchor and then return the href
for link in range(len(Marslinks)):
    
    #hemisphere info dictionary
    hemisphereInfo={}

    # we have to find the elements in each loop to avoid a stale element exception
    browser.find_by_css('a.product-item img')[link].click()
    time.sleep(2)
    
    # We need to find the text "sample" and find the image url for that sample text
    SampleText = browser.Marslinks.find_by_text('Sample').first
    print(SampleText['href'])
    hemisphereInfo["img_url"] = sample['href']
    
    
    # Get Hemisphere title
    HemisphereInfo['title'] = browser.find_by_css('h2.title').text
    
    #Append hemisphere object to list
    hemisphere_ImageURLS.append(hemisphereInfo)
    
    
    
    # finally we navigate backwards
    browser.back()